.home-main {
  background-color: var(--cor-azul-escuro1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 9.3rem;
  padding-bottom: 9.3rem;
}
.home-contentsocial ul {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  list-style: none;
  padding: 0;
  margin-right: 5.5rem;
  padding-bottom: 0.1rem;
  padding-top: 0.5rem;
}

.home-contentsocial ul img {
  width: 32px;
  height: 32px;
}
.home-contentsocial {
  position: relative;
  padding-bottom: 1 0.5rem;
  padding-right: 1.2rem;
}

.home-contentsocial::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3.5rem;
  width: 0.5rem;
  height: 100%;
  background: var(--cor-branco-puro);
  z-index: 1;
}

.texto-destaue {
  color: var(--cor-azul-claro);
}

.botoes-interacao {
  display: flex;
  gap: 20px;
}
.botao {
  background-color: var(--cor-azul-claro);
  color: var(--cor-txto);
  padding: 10px 20px;
  border-radius: 64px;
  text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  box-shadow: -5px 10px 4px rgba(0, 0, 0, 0.35);
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}
.botão img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.home-content-text {
  padding-right: 15rem;
}
.home-content-text h1 {
  margin-bottom: 3.5rem;
  padding-right: 0.5rem;
}
.home-content-text .botoes-interacao {
  padding-right: 2rem;
}
.home-content-avatar {
  background-image: url("../../assets/imgs/moldura1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 25rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scale-in 0.8s ease-out forwards;
  position: relative;
}

.home-content-avatar::after {
  content: "";
  background-image: url("../../assets/imgs/sombra.png");
  background-size: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 25rem;
  height: 8rem;
  z-index: 1;
}
.avatar-img {
  width: 65%;
  height: 65%;
  object-fit: cover;
  border-radius: 50%;
}

.dwon-indicator {
  background-image: linear-gradient(
    to bottom,
    var(--cor-azul-escuro1) 50%,
    var(--cor-azul-claro2)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.dwon-indicator-image {
  margin-top: 15rem;
  margin-bottom: 10rem;
}
.dwon-indicator-text {
  color: var(--cor-branco-puro);
  text-align: center;
  width: 62.5rem;
  font-size: 28px;
  margin-bottom: 40rem;
}
.texto {
  font-size: 1.75rem;
}
.home-content-sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-azul-claro2);
}
.home-content-avatar-sobre {
  background-image: url("../../assets/imgs/moldura2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 43rem;
  height: 43rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scale-in 0.8s ease-out forwards;
  position: relative;
}
.home-content-cards {
  background-image: linear-gradient(
    to bottom,
    var(--cor-azul-claro2) 50%,
    var(--cor-azul-escuro1)
  );
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 15rem;
}
.home-content-cards h2::after {
  content: "";
  background-image: url("../../assets/imgs/detalhe-card.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: -2.5rem;
}

.content-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  height: 100vh;
}
.title-cards {
  position: absolute;
}
.title-cards::after {
  content: "";
  background-image: url("../../assets/imgs/detalhe-card.png");
}
.home-content-projetos {
  background-color: var(--cor-azul-escuro1);
  display: flex;
  padding-bottom: 21.25rem;
  align-items: center;
  justify-content: center;
}

.home-content-contact {
  background-color: var(--cor-azul-claro4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 26.6rem;
}
.home-content-contact h2 {
  width: 34.3rem;
  font-size: 2rem;
  text-align: center;
}
.home-content-contact button {
  background-color: var(--cor-azul-claro);
  color: var(--cor-txto);
  padding: 10px 20px;
  border-radius: 64px;
  text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  box-shadow: -5px 10px 4px rgba(0, 0, 0, 0.35);
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
}

@keyframes scale-in {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
