.title-sobre {
  font-size: 26px;
  color: var(--cor-branco-puro);
  margin-bottom: 2rem;
  text-align: start;
  position: relative;
  padding-left: 2rem;
}
.title-sobre::before {
  content: "";
  display: block;
  background-image: url("../../assets/imgs/detalhe-sobre.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  left: -0.5rem;
  position: absolute;
}
.select {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.navegacao {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border-radius: 5px;
  background-color: var(--cor-azul-claro3);
  width: 42rem;
  height: 3.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 0.5rem;
  justify-content: center;
}
.active {
  background-color: var(--cor-azul-escuro1);
  padding: 0.1rem 2.8rem;
  border-radius: 5px;
}
.navegacao ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0;
}
.navegacao ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navegacao ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.8rem;
  cursor: pointer;
}

.descricao-text {
  width: 56rem;
  text-align: center;
  font-size: 22px;
}
.descricao-text h2 {
  font-size: 24px;
}
.informacao {
}
.informacao-text-line {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;
  justify-content: space-between;
}
.informacao-text {
  display: flex;
  align-items: center;
}
.minha-apresentacao {
  font-size: 1.37rem;
  color: #d5d5ff;
  margin-bottom: 3rem;
}
.informacao-text {
  margin-bottom: 3rem;
}
.informacao-text img {
  margin-right: 0.5rem;
}

.descricao-text-skill {
  padding-left: 6rem;
  font-size: 1.2rem;
}
.descricao-text-skill h3 {
  font-size: 1.5rem;
}
.informacao-skills ul {
  display: flex;
  flex-direction: column;
  padding-left: 6rem;
  list-style: inside;
  font-size: 1.2rem;
}
.lista-ferramentas-skills {
  padding-top: 2rem;
  padding-left: 6rem;
}
.lista-ferramentas-skills ul li img {
  width: 3rem;
  height: auto;
}

.qualificacoes {
  padding: 30px;
  border-radius: 12px;
}

.titulo-secao {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.timeline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.subtitulo {
  font-size: 1.2rem;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
  border-left: 2px solid var(--cor-branco-puro);
}

.item h4 {
  font-size: 1rem;
  font-weight: bold;
}

.item p {
  font-size: 0.9rem;
  color: #cbd5e1;
  margin: 3px 0;
}

.periodo {
  font-size: 0.85rem;
  color: #94a3b8;
}
