:root {
  font-family: Konkhmer Sleokchher, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cor-txto: #fff;
  --cor-branco-puro: #fff;
  --cor-azul-claro: #32abe7;
  --cor-azul-claro2: #19559a;
  --cor-azul-claro3: #1d36c3;
  --cor-azul-claro4: #0d2c76;
  --cor-azul-escuro1: #00004e;
  --cor-azul-escuro2: #210df5;
  --cor-azul-escuro3: #1909cb;
  --cor-fundo-terciario: #444;
  --cor-fundo-quaternario: #555;
  --cor-fundo-quintario: #666;
}

body {
  margin: 0;
}
/* Estilo geral da barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem vertical */
}

/* Fundo da barra de rolagem (a trilha) */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  width: 0px;
  height: auto;
}

/* O polegar (a alça que você arrasta) */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  width: 0px;
  height: auto;
}

/* Cor do polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
  width: 0px;
  height: auto;
}

/* Exemplo de uso de cores para o seu código original */
::-webkit-scrollbar {
  width: 20px;
  width: 0px;
  height: auto; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: var(--cor-azul-claro); /* Cor vermelha para o polegar */
  border-radius: 60px;
  width: 10px;
  height: 300px;
}

::-webkit-scrollbar-track {
  width: 0px;
  height: auto;
}
